- name: "Remove and unconfigure any other DMs that may be installed"
  ansible.builtin.include_tasks: remove_other_dms/main.yml
  when: lightdm_remove_other_display_managers

- name: "Install main DM, greeter, and support LightDM packages"
  ansible.builtin.include_tasks: install_main_pkgs/main.yml

- name: "Configure LightDM login service"
  ansible.builtin.include_tasks: config_service/main.yml

- name: "Configure LightDM session, for the selected desktop environment"
  ansible.builtin.include_tasks: config_session/main.yml

- name: "Configure LightDM graphical greeter login, for all users"
  ansible.builtin.include_tasks: config_graphical_login/main.yml

- name: "Hide specific users from the graphical greeter login menu"
  ansible.builtin.include_tasks: hide_users/main.yml
  when: (lightdm_hide_users_list | length) > 0

